<div class= "container my-3">
  <h1>Listings</h1>

  <!-- Start of the div -->
  <div class="my-4">
    <%= link_to 'New listing', new_listing_path, :class => "btn btn-primary" %>
    <%= link_to 'Search listings', search_path, :class => "btn btn-primary" %>
  </div>  
  <!-- End of the div -->

<%= paginate @listing %>

  <div class="row">  
    <% @listing.order(updated_at: :desc).each do |listing| %>
      <div class="col-4 mb-4 my-4">
        <div class="card" style="width: 18rem;">
          <% if listing.avatars != [] %>
          <img class="card-img-top" src="<%= listing.avatars[0] %>" 
          alt="Card image cap">
    <% end %>

           <ul class="list-group list-group-flush">
              <li class="list-group-item card-text"><strong><%= listing.name %></strong></li>
              <li class="list-group-item card-text">City: <%= listing.city %></li>
              <li class="list-group-item card-text">Property type: <%= listing.property_type %></li>
              <li class="list-group-item card-text">Number of rooms: <%= listing.number_of_rooms %></li>
              <li class="list-group-item card-text">Number of bathrooms: <%= listing.number_of_bathrooms %></li>
              <li class="list-group-item card-text">Price in RM: <%= listing.price %></li>
            </ul>


            <div class="card-body">
              <a href="#" class="card-link"><%= link_to 'Show', listing_path(listing) %></a> | 
              <a href="#" class="card-link"><%= link_to 'Edit', edit_listing_path(listing) %></a> | 
              <a href="#" class="card-link"><%= link_to 'Delete', listing_path(listing), 
              method: :delete,
              data: { confirm: 'Are you sure?' } %></a> |
              <a href="#" class="card-link"><%= link_to 'Book now', new_listing_reservation_path(listing), data: 
              { turbolinks: false } %></a> 
            </div>
          </div>
        </div>
       <% end %>
  </div>
</div>







