<br><%= @user.email %>



<%= form_with scope: :user, url: update_path(@user), method: :patch do |form| %>
<br><div>
		<%= form.label :first_name %>
		<%= form.text_field :first_name %>
	</div>
<br><div>
		<%= form.label :last_name %>
		<%= form.text_field :last_name %>
	</div>
<br><div>
		<%= form.label :email %>
		<%= form.text_field :email %>
	</div>
<br><div>
		<%= form.file_field :avatar %>
	</div>
<br><div>
		<%= form.submit %>
	</div>
<% end %>